<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kylin.sys.dao.OrgDao">

    <select id="queryList" resultType="com.kylin.sys.entity.Org">
		SELECT
			*
		FROM
			sys_org order by order_num asc
		<!--<where>-->
			<!--<if test="name != null and name.trim() != '' ">-->
				<!--username like concat('%',#{name},'%')-->
			<!--</if>-->
			<!--<if test="id != null">-->
				<!--and user_id = #{id}-->
			<!--</if>-->
		<!--</where>-->
		<!--<choose>-->
			<!--<when test="field != null and order != ''">-->
				<!--order by ${field} ${order}-->
			<!--</when>-->
			<!--<otherwise>-->
				<!--order by user_id asc-->
			<!--</otherwise>-->
		<!--</choose>-->
		<!--<if test="pageNum != null and pageSize != null">-->
			<!--LIMIT #{pageNum},#{pageSize}-->
		<!--</if>-->
	</select>
	<select id="queryTotal" resultType="int">
		select count(*) from sys_user
		<where>
			<if test="name != null and name.trim() != ''">
				username like concat('%',#{name},'%')
			</if>
			<if test="id != null">
				and user_id = #{id}
			</if>
		</where>
	</select>
    <insert id="save" parameterType="com.kylin.sys.entity.Org" useGeneratedKeys="true" keyProperty="orgId">
		INSERT INTO sys_org (
			parent_id,
			org_name,
			org_code
		)
		VALUES
			(
				#{parentId},
				#{orgName},
				#{orgCode}
			)
	</insert>

    <!--根据登陆用户查询有效的用户-->
    <select id="queryByUserame" resultType="com.kylin.sys.entity.User">
		SELECT
			u.*,
			(SELECT org_name FROM sys_org o WHERE o.org_id = u.org_id) AS orgName
		FROM
			sys_user u
		WHERE
			username = #{0}
	</select>

	<!-- 查询用户的所有权限 -->
	<select id="queryAllPerms" resultType="string">
		select m.permission from sys_user_role ur
			LEFT JOIN sys_role_menu rm on ur.role_id = rm.role_id
			LEFT JOIN sys_menu m on rm.menu_id = m.menu_id
		where ur.user_id = #{userId}
	</select>

	<delete id="deleteBatch">
		delete from sys_user where user_id in
		<foreach item="userId" collection="array" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</delete>

	<select id="queryObject" resultType="com.kylin.sys.entity.User">
		select u.*
-- 			(SELECT d.name FROM sys_org d WHERE d.dept_id = u.dept_id) as deptName
		from sys_user u where user_id = #{value}
	</select>

</mapper>