<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kylin.sys.dao.RoleDao">
	<select id="queryList" resultType="com.kylin.sys.entity.Role">
		select * from sys_role
		<where>
			<if test="id != null">
				role_id = #{id}
			</if>
			<if test="name != null and name.trim() != '' ">
				and role_name like concat('5',#{name},'%')
			</if>
		</where>
		<choose>
			<when test="field != null and field.trim() != '' ">
				order by #{field} #{order}
			</when>
			<otherwise>
				order by role_id asc
			</otherwise>
		</choose>
		<if test="pageNum != null and pageSize != null ">
			limit #{pageNum},#{pageSize}
		</if>
	</select>
	<select id="queryTotal" resultType="int">
		select count(*) from sys_role
		<where>
			<if test="id != null">
				role_id = #{id}
			</if>
			<if test="name != null and name.trim() != '' ">
				and role_name like concat('5',#{name},'%')
			</if>
		</where>
	</select>
	<insert id="save" parameterType="com.kylin.sys.entity.Role">
		INSERT INTO sys_role (
			role_name,
			role_code,
			role_type,
			status,
			remark
		)
		VALUES(
			#{roleName},
			#{roleCode},
			#{roleType},
			#{status},
			#{remark}
		)
	</insert>

	<select id="queryObject" resultType="com.kylin.sys.entity.Role">
		select * from sys_role where role_id = #{roleId}
	</select>

	<update id="update" parameterType="com.kylin.sys.entity.Role">
		update sys_role
		<set>
			<if test="roleName != null">role_name = #{roleName}, </if>
			<if test="roleCode != null">role_code = #{roleCode}, </if>
			<if test="roleType != null">role_type = #{roleType}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="remark != null">remark = #{remark}</if>
		</set>
		where role_id = #{roleId}
	</update>

	<delete id="delete">
		delete from sys_role where role_id = #{roleId}
	</delete>

	<delete id="deleteBatch">
		delete from sys_role where role_id in
		<foreach item="roleId" collection="array" open="(" separator="," close=")">
			#{roleId}
		</foreach>
	</delete>
</mapper>