@CHARSET "UTF-8";

.loginBody {
    height: 100%;
}

.loginBody .project-name {
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 15px
}

.loginBody {
    overflow: hidden;
    width: 100%;
    height: auto;
    background: url("../images/temp-bg.jpg") no-repeat;
}

.loginBody form.layui-form {
    padding: 0 25px;
    width: 320px;
    height: 340px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 50px #009688;
}

.loginBody .layui-form-item {
    position: relative;
    margin-bottom: 15px;
}

#imgCode img {
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
    border-left: 1px solid rgb(230, 230, 230);
    width: 116px;
    height: 36px;
}

.loginBody .login-btn {
    width: 100%;
}