<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="../css/fs.css" media="all"/>
    <script type="text/javascript" src="../plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../plugins/layui/layui.js"></script>
    <script type="text/javascript" src="../plugins/echarts/echarts.min.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <blockquote class="layui-elem-quote">
                <span style="color: #FF5722;">模板模板模板模板模板模板模板模板模板</span>模板模板模板模板模板模板模板
            </blockquote>
            <blockquote class="layui-elem-quote layui-quote-nm">
                <a href="https://gitee.com/KBKJExpressIM/XingJiPingDing" target="-bark"><span
                        class="layui-badge">码云地址</span></a><br>
                生命短暂犹若露珠消散，人们在奔波中探寻答案<br>
                运数仿佛大海起伏不定，掌上迷离脉纹回路漫漫<br>
                长剑在黑夜吟唱悲歌，岁月如斑驳铜镜经年<br>
                天际流火叩响大地之门，岁月星辰刻画沧桑年轮<br>
                纵横交错兮天下之局，谁能参悟兮世事如棋。
            </blockquote>
        </div>

        <div class="layui-col-md6 layui-col-space5">
            <blockquote class="layui-elem-quote">
                板块标题
            </blockquote>
            <div style="height:600px;overflow: auto;">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">
                                <h2>1.0.0</h2>
                                <span class="layui-badge-rim">2018-05-12</span>
                            </div>
                            <ul>
                                <li>时间轴</li>
                                <li>时间轴时间轴时间轴时间轴时间轴</li>
                                <li>时间轴时间轴时间轴时间轴时间轴时间轴时间轴时间轴时间轴</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-space5">
            <blockquote class="layui-elem-quote">
                图表
            </blockquote>
            <div id="main" style="width: 100%;height:400px;"></div>
        </div>
    </div>
    <script type="text/javascript" src="../scripts/home/index.js"></script>
</body>
</html>
